<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="logo">◈ Sole &amp; Story</div>
        <p class="tagline">Premium footwear, new &amp; pre-owned.<br>Lahore, Pakistan.</p>
      </div>
      <div class="footer-links">
        <div class="footer-col">
          <h4>Shop</h4>
          <ul>
            <li><a routerLink="/shop/male">Male</a></li>
            <li><a routerLink="/shop/female">Female</a></li>
            <li><a routerLink="/shop/boys">Boys</a></li>
            <li><a routerLink="/shop/kids">Kids</a></li>
            <li><a routerLink="/shop">All Brands</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Customer Care</h4>
          <ul>
            <li><a routerLink="/account">Track Order</a></li>
            <li><a href="#">Returns Policy</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">WhatsApp Support</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2026 Sole &amp; Story. All rights reserved.</p>
    </div>
  </div>
</footer>
